{% extends "base.html" %}

  <!---------------------------- My CSS link --------->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


{% block additional_styles %}

{% load static%}

{% load cloudinary %}      

{% block content %}



<section class="pt-5 pb-5 shadow-sm m-auto section-container ">

    <div class="container text-light text-center ">
        <h3> Breed reviews </h3>
        
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for review in object_list %}
            <div class="col col-md-6 col-lg-4 d-flex ">
                <div class="card w-100 text-light bg-dark bg-opacity-75 rounded">
                <a href="{% url 'review_page' review.pk %}"
                    class="text-decoration-none text-uppercase fw-bold text-white">
                    <h4 class="card-title m-3 text-center text-truncate "> {{ review.breed }} </h3>
                        <h5> {{ review.breed_group }}</h5>
                </a>
                {% if review.breed_image %}

                <img src="{{ review.breed_image.url }}" class="card-img-top rounded-2 img-container">
                {% else %}
                <img src="{{ MEDIA_URL }}" class="card-img-top rounded-2" alt="default error image">
                {% endif %}

                <div class="card-body">



                    <p class="card-text text-truncate"> {{ review.review }} </p>


                    <p class="card-text">
                        Adaptability:
                        <span class="fas fa-adjust {% if review.adaptability > 0 %} selected {% endif %}"></span>
                        <span class="fas fa-adjust {% if review.adaptability > 1 %} selected {% endif %}"></span>
                        <span class="fas fa-adjust {% if review.adaptability > 2 %} selected {% endif %}"></span>
                        <span class="fas fa-adjust {% if review.adaptability> 3 %} selected {% endif %}"></span>
                        <span class="fas fa-adjust {% if review.adaptability > 4 %} selected {% endif %}"></span>
                    </p>

                    <p class="card-text">
                        Friendliness:
                        <span class="fa-solid fa-dog {% if review.friendliness > 0 %} selected {% endif %}"></span>
                        <span class="fa-solid fa-dog  {% if review.friendliness> 1 %} selected {% endif %}"></span>
                        <span class="fa-solid fa-dog  {% if review.friendliness > 2 %} selected {% endif %}"></span>
                        <span class="fa-solid fa-dog {% if review.friendliness > 3 %} selected {% endif %}"></span>
                        <span class="fa-solid fa-dog {% if review.friendliness > 4 %} selected {% endif %}"></span>
                    </p>

                    <p class="card-text">
                        Trainability:
                        <span class="fa-solid fa-dog {% if review.trainability > 0 %} selected {% endif %}"></span>
                        <span class="fa-solid fa-dog  {% if review.trainability> 1 %} selected {% endif %}"></span>
                        <span class="fa-solid fa-dog  {% if review.trainability > 2 %} selected {% endif %}"></span>
                        <span class="fa-solid fa-dog {% if review.trainability > 3 %} selected {% endif %}"></span>
                        <span class="fa-solid fa-dog {% if review.trainability> 4 %} selected {% endif %}"></span>
                    </p>
                    <h5>{{ review.breed_group}}</h5>
                    <p class="card-text text-truncate"> {{ review.rating }} </p>
                    <p class="card-text text-truncate text-muted text-sm"> {{ review.user_name }} -{{ review.published_date }} </p>


                    {% if user.is_authenticated %}
                    {% if user.id == review.user_name.id %}


                    <span class="m-auto">
                        <h4>
                            <a href="{% url 'edit_review' review.pk %}" class="text-decoration-none text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit your review"><i
                                    class="fas fa-edit px-2"></i>
                            </a>
                            <a href="{% url 'delete_review' review.pk %}" class="text-decoration-none text-white"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete your review">
                            <i class="fas fa-trash px-2 pb-2 "></i>
                            </a></h4>
                </span>

                    {% endif %}
                    {% endif %}
                </div>
            </div>
 
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center ">
            
            <li class="page-item"><a class="page-link bg-dark text-white border-0  " href="?page=1">First</a></li>
            {% if page_obj.has_previous %}
            <li class="page-item">
            <li class="page-item"><a class="page-link bg-dark text-white border-0 " href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            </li>{% endif %}
            <li class="page-item">
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link bg-dark text-white border-0 " href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link bg-dark text-white border-0 " href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
            
            {% endif %}

        </ul>
    </nav>

    
    
    
 <!---------------------------- My JS -->
 <script src="{% static 'js/script.js' %}"></script>
 <script src="{% static 'js/review_list.js' %}"></script>
 <script>
     var score = "{{ object_list }}"
     console.log(rating)
 </script>
 <script src="{% static 'js/star_rating.js' %}"></script>
    {% endblock %}
