{% extends "base.html" %}

{% block content %}

<div class="card mb-3 mt-5 m-auto detail-container bg-dark text-light">
    <div class="card-header">
        <h1 class="text-center"> {{ object.breed}} </h1>
    </div>
    <div class="row g-0">
        <div class="col-md-5">
            {% if object.breed_image %}
            <img src="{{ object.breed_image.url }}" class="img-fluid rounded-start" alt="breed image">
            {% else %}
            <img src="{{ MEDIA_URL }}vintage-retro-beer-illustration_5586-351.webp" alt="default error image">
            {% endif %}
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <p class="text-right"> Breed Group :</p>
                <p class="card-text">{{ object.review }}</p>
                <p class="card-text">Adaptability: {{ object.adaptability }}</p>
                <p class="card-text">Friendliness: {{ object.friendliness }}</p>
                <p class="card-text">Trainability: {{ object.trainability}}</p>
                <p class="card-text">Health and Grooming Needs: {{ object.health_and_grooming_needs }}</p>

            </div>

        </div>
    </div>
    <div class="card-footer text-center text-muted"><small>Written by: {{ object.user_name }} 
    </div>

{% endblock %}

