{% extends "base.html" %}



{% block content %}
<h2>Reviews</h2>
<ul>
    {% for review in object_list %}

    <li>{{ review.breed }}</li>
    <li>{{ review.breed_group }}</li>
        <li> Adaptability: {{ review.adaptability }} </li>
        <li> Friendliness: {{ review.friendliness </li> 
        <li> Trainability: {{ review.trainability </li>
        <li> Health and Grooming Needs: {{ review.health_and_grooming_needs }} </li>
        <h3>Breed review: <br/></h3>
        <li> {{ review.review }} </li>
        
        {% endfor %}
    </ul>

{% endblock content %}

