<!---------------------------- Google Fonts ------->
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;900&display=swap');


h1, 
h2, 
h3, 
h4 {
    font-family: 'Libre Franklin', sans-serif;}

p, a {
    font-family: 'Libre Franklin', sans-serif;
}

body {
    padding-bottom: 100px !important;

}

.bg {
    background: url("/static/images/home_page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-bottom: 100px;

}

.container-box {
    margin-top: 15vh;
    margin-right: 25%;

} 

.container-box-signin{
    margin-top: 15vh;
    margin-right: 10vh;
}

.container-box-home{
    margin-top: 25vh;
    margin-left: 5%;
}

.img-container {
    height: 200px;

}

.input-group-prepend span{
    width: 50px;
    background-color: #d4b044;
    color: #ffff;
    border:0 !important;
    }

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    transform: scale(1.5);
    transition: transform 330ms ease-in-out;

    }   
.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login-button:hover {
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
} 

.detail-container{
    max-width: 840px;
}

.card img {
    width : 200px;
}

.card p {
    max-width: 150px;
}


#id_breed_group,
#id_breed,
#id_adaptabilty,
#id_trainability,
#id_friendliness,
#id_health_and_grooming_needs{
    width: 200px;
    font-size: 1rem !important;

}


#id_username,
#id_email,
#id_password1,
#id_password2{
    width : 300px;
    margin: 0 auto;
}

#id_review{
    width:400px;
    margin: 0 auto;
}

.selected{
    color: blue;
}

.stars{
    margin: 0 auto;
    width: fit-content;
}

#id_score{
    display:none;
}

.section-container{
    max-width: 1000px;
}

.bg-dark,
.bg-light{
    opacity: 0.9;
}


@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;

    }


@media only screen and (max-width: 600px) {


    body {
        background-position-x: 20%;
    }
}