<!---------------------------- Google Fonts ------->
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;900&display=swap');

/*------------------------ Color settings  ---------------------- */

hr {
    color: #47B5FF;
}

.blue {
    color: #1363DF !important;
}

html {
    height: 100%;
}

body {
    padding-bottom: 100px !important;
    margin: 0 auto;
}

/*------------------------ Alert settings  ---------------------- */

.alert-warning {
    color: #DFF6FF;;
    opacity: 0.95;
}


/*------------------------ Typho settings  ---------------------- */

h1,
h2,
h3,
h4 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 900;
    color: #DFF6FF;;
}

p,
a,
button,
#id_adaptability,
#id_trainability,
#id_friendliness,
#id_health_and_grooming_needs,
#id_breed_image,
#id_breed_group,
#id_breed {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: #06283D;
}

a:hover {
    color: #1363DF;
}


/*------------------------ Background settings  ---------------------- */

.bg {
    background-image: url("../images/home_page.jpg");
    background-size: cover;
    margin: 0 auto;
}

.bg-dark,
.bg-light {
    opacity: 0.95;
}


.bg-dark {
    background-color: #06283D !important;
}

/*------------------------ Home page ---------------------- */

.welcome_page {
    background-color: #06283D;
}


/*------------------------ Navbar ---------------------- */

.navbar {
    z-index: 100 !important;

}



ul.dropdown-menu {
    height: 150px !important;
    overflow: auto;
    z-index: 10000;
}

.nav-link.active,
.navbar-brand.active {
    color: #47B5FF !important;
    
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #1363DF !important;
}


/*------------------------ Buttons ---------------------- */

.btn:focus:active {
    background-image: none;
    outline: 0 !important;
    box-shadow: none !important;
}

.btn-submit {
    background-color: #DFF6FF;
    color: #06283D !important;
}

.btn-cancel {
    background-color: #DFF6FF;
    color: #06283D;
}

.btn-cancel:hover {
    color: #1363DF !important;
}

.btn-back {
    background-color: #DFF6FF;
    color: #06283D;
}

.btn-warning {
    background-color: #47B5FF;
    border: #1363DF;
    color: #06283D;
}

.btn:hover {
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
    font-weight: 600;

}

.fa-edit:hover {
    color: #47B5FF;
}

.fa-trash:hover {
    color: #DFF6FF;
}

.page-link {
    color: #FFFFFF;
    font-weight: 200;
}

.page-link:hover:not([disabled]),
.page-link:focus {
    color: #47B5FF;
    font-weight: 800;
    background-color: #06283D !important;
    border: #1363DF;
}

.page-link:hover {
    color: #FFFFFF;
}

.pagination {
    width: fit-content !important;
}

img {
    max-width: 100%;
}

.section-container {
    max-width: 80%;
}

.container-box-home {
    margin-top: 25vh;
    margin-left: 5%;
}

.container-box {
    margin-top: 20vh;
}

.review-detail-box {
    width: 90%;
    min-height: 140px !important;
    margin: 0 auto;
    border: solid 1px #FFFFFF;
}

.detail-container {
    max-width: 840px;
    margin: 2% auto;
}

.container-reviews {
    width: 60%;
    margin: 0px auto;
}

.no-review {
    margin-top: 20vh;
}

.edit-delete-box {
    display: ruby-base-container;
    width: 30%;
}

.author-box {
    display: ruby-base-container;
    width: 70%;
}

/*------------------------ Form fields ---------------------- */


#id_username,
#id_email,
#id_password1,
#id_password2 {
    width: 400px;
    margin: 0 auto;
}

#id_review {
    width: 600px;
    margin: 0 auto;
}

#id_breed_group,
#id_breed,
#id_adaptability,
#id_trainability,
#id_friendliness,
#id_health_and_grooming_needs,
#id_breed_image {
    margin: 10px 0;
    font-size: 1rem;
}


#id_rating {
    display: none;
}

/*------------------------ Star rating  ---------------------- */

.selected {
    color: #47B5FF;
}

.stars {
    margin: 0 auto;
    width: fit-content;
}

/*------------------------ Footer  ---------------------- */

.footer {
    color: #06283D !important;
}







/*------------------------ Media Query  ---------------------- */

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }

}

@media only screen and (max-width: 900px) {
    .margin-screen-md {
        margin: 5%;
    }
}

@media only screen and (max-width: 600px) {


    body {
        background-position-x: 20%;
    }

    .section-container {
        max-width: 80%;
    }

    .container-box {
        margin-top: 10vh;
    }

    .margin-screen-md {
        margin: 10%;
    }

    #id_username,
    #id_email,
    #id_password1,
    #id_password2 {
        width: 250px;
    }

 
#id_breed_group,
#id_breed,
#id_adaptability,
#id_trainability,
#id_friendliness,
#id_health_and_grooming_needs,
#id_breed_image  {
        width: 90%
    }

    .margin-bottom {
        margin-bottom: 30%;
    }
}
