{% load static %}

{% load bootstrap5 %}

{% load active_link_tags %}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A place where breeds come together!">
    <meta name="keywords" content="breed, rating, reviews">

    <!-- Shortcut icon link -->
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/nikkibudeanu/image/upload/v1657123827/98-984975_cat-paws-png-hd-dog-paw-print-clip_y2rfnb.png" />

    <!-- Google Fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@1,300&display=swap"
        rel="stylesheet">

    <!-- Fontawesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.3/css/bootstrap.min.css">

    <!-- My CSS link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block additional_styles %}
    <style>
        .navbar_brand {
            background-image: url('https://res.cloudinary.com/nikkibudeanu/image/upload/v1656973607/cover_lmhje2.png') !important;
            background-position: center;
        }
    </style>
    {% endblock  %}

    <title> Woofme |
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body class="bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg " style="background-color: #06283D;">
        <div class="container-fluid">
            <a class="navbar-left  {% active_link '/' %}" href="{% url 'home' %}"> Woofme <i class="fas fa-paw"></i></a>

            <!-- Collapse Navigation -->
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!--  Navigation Items -->
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'review_list' %}" aria-current="page"
                            href="{% url 'review_list' %}">Breed Reviews
                        </a>
                    </li>

                    <!--  Authentication Navigation Items -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'add_review' %}" href="{% url 'add_review' %}">Rate your
                            Breed
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'logout' %}" href="{% url 'logout' %}">Logout</a></li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'register' %}" href="{% url 'register' %}">Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'login' %}" href="{% url 'login' %}">Login
                        </a>
                    </li>
                    {% endif %}
                </ul>


                <!--  Search breed button -->
                <form class="d-flex text-end" action="{% url 'search_breed' %}" method="post">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search by breed name"
                        aria-label="Search your breed" name="searched">
                    <button class="btn btn-light btn-outline-dark" name="submit" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Alert messages -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" id="alert" role="alert">
        <strong> {{ message }} </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class=" text-center text-dark fixed-bottom" style="background-color:#06283D;">
        <div class="container p-1">

            <!-- Section: Social media -->
            <div class="m-0">

                <!-- Linkedin -->
                <a class="m-3 footer-button" href="https://www.linkedin.com/in/nikki-budeanu-8b8a021a6/" role="button"
                    target="_blank" aria-label="linkedin link"><i class="fab fa-lg fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="m-3 footer-button" href="https://github.com/nikkibudeanu" role="button" target="_blank"
                    aria-label="github link"><i class="fab fa-lg fa-github"></i></a>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-1" style="color :#DFF6FF !important">
            © 2022 Copyright: Woofme
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>

    {% block extra_js %}
    {% endblock extra_js %}

</body>

</html>