{% extends 'base.html' %}

{% load static %}

{% block title %} 
Home 
{% endblock %}

{% block additional_styles %}
    <style>
    body {
        background-image: url('https://res.cloudinary.com/nikkibudeanu/image/upload/v1656620456/pexels-lumn-406014_rtkieb.jpg')!important;
        background-position: center;
    }
    .welcome_page{
        background-image: url('https://res.cloudinary.com/nikkibudeanu/image/upload/v1656968506/0da5a0_65a04e3d3a144d0da032433d6358399a_mv2_pvroll.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        
    }
    </style>
{% endblock %}

{% block content %}

    <!--Welcome-->
    <div class=" container container-box-home bg-dark rounded text-light text-center welcome_page ">
        <div class="row justify-content-center">
            <div class="col ">
                <h1 class ="bold">Woofme - review your breed!</h1>
            </div>
        </div>
    </div>

    {% block extra_js %}
            <!-- Customizible JS -->
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock extra_js %}

{% endblock content %}