{% extends 'base.html' %}

{% load static %}

{% block title %} 
Home 
{% endblock %}

{% block additional_styles %}
<!-- Customizible CSS -->
<style>
    body {
        background-image: url("https://res.cloudinary.com/nikkibudeanu/image/upload/v1656620456/pexels-lumn-406014_rtkieb.jpg") !important;
    }
</style>
{% endblock %}
{% block content %}

    <!--Welcome-->
    <div class=" container container-box-home bg-dark rounded text-light text-center welcome_page ">
        <div class="row justify-content-center">
            <div class="col ">
                <h1 class ="bold">Woofme - review your breed!</h1>
                <h2 class ="bold">Rate your dog's breed and tell us more about your pet...</h2>

            </div>
        </div>
    </div>

    {% block extra_js %}
            <!-- Customizible JS -->
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock extra_js %}

{% endblock content %}