{% extends "base.html" %}

{% load static %}

{% block additional_styles %}
<style>
	body {
		background-image: url('https://res.cloudinary.com/nikkibudeanu/image/upload/v1656871604/43081_jb2abu.jpg') !important;
	}
</style>
{% endblock %}

{%block title %}
Login
{% endblock %}

{% block content %}
<!-- Login container-->
<div class="container container-box">
	<div class="d-flex justify-content-center ">
		<div class="bg-dark">
			<div class="card-header text-light">
				<h1 class="text-end text-success">Log In &nbsp;<i class="fas fa-sign-in-alt"></i></h1>
			</div>

			<!-- Login form section -->
			<div class="card-body m-auto">
				<form method="POST">
					{% csrf_token %}
					<div class="input-group form-group p-1">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user p-2 "></i></span>
						</div>
						<input type="text" class="form-control" name="username" placeholder="username"
							aria-label="username">
					</div>
					<div class="input-group form-group p-1">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key p-2"></i></span>
						</div>
						<input type="password" class="form-control" name="password" placeholder="password"
							aria-label="password">
					</div>
					<div class="form-group text-center">
						<input type="submit" value="Login" class="btn btn btn-success m-2 fw-bold">
					</div>
				</form>
			</div>

			<!-- Create account section -->
			<div class="card-footer">
				<div class="d-flex justify-content-center text-light">
					New with us? &nbsp;<a href="{% url 'register' %}" class="text-decoration-none text-info zoom ">Sign
						Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}