{% extends "base.html" %}

{% block title %}
Review Details
{% endblock %}

{% block additional_styles %}
<!-- Customizible CSS -->
<style>
    body {
        background-image: url("https://res.cloudinary.com/nikkibudeanu/image/upload/v1656759852/OPSEG70_uiv2uv.jpg") !important;
    }
</style>
{% endblock %}

{% block content %}
<section>

    <!-- Reviews card -->
    <div class="card mb-3 mt-5 detail-container margin-screen-md bg-dark text-light">

        <!-- Reviews card header-->
        <div class="card-header">
            <h1 class="text-center text-capitalize ">{{ object.breed }}
                <hr>
            </h1>
        </div>

        <!-- Reviews card subheader-->
        <div class="row g-0">

            <!-- Reviews breed image-->
            <div class="col-md-5">
                <img src="{{ object.breed_image.url }}" class="img-fluid rounded-start"
                    alt="review {{review.breed}} uploaded image">
            </div>

            <!-- Reviews breed body -->
            <div class="col-md-7">
                <div class="card-body">

                    <!-- Reviews breed name-->
                    <h4 class="text-right mb-4 mx-2 ">Breed Group : {{ object.breed_group|title }}</h4>

            <!-- Review's adaptability level -->
            <p class="card-text"> :
                <span class="fa-solid fa-user-group {% if review.adaptability > 0 %} selected {% endif %}"></span>
                <span class="fa-solid fa-user-group {% if review.adaptability > 1 %} selected {% endif %}"></span>
                <span class="fa-solid fa-user-group {% if review.adaptability > 2 %} selected {% endif %}"></span>
                <span class="fa-solid fa-user-group {% if review.adaptability > 3 %} selected {% endif %}"></span>
                <span class="fa-solid fa-user-group {% if review.adaptability > 4 %} selected {% endif %}"></span>
            </p>

            <!-- Review's trainability level -->
            <p class="card-text"> :
                <span
                    class="fa-solid fa-chart-line-up {% if review.trainability > 0 %} selected {% endif %}"></span>
                <span
                    class="fa-solid fa-chart-line-up {% if review.trainability > 1 %} selected {% endif %}"></span>
                <span
                    class="fa-solid fa-chart-line-up {% if review.trainability > 2 %} selected {% endif %}"></span>
                <span class="fa-solid fa-chart-line-up {% if review.trainability > 3 %} selected {% endif %}"></span>
                <span class="fa-solid fa-chart-line-up {% if review.trainability > 4 %} selected {% endif %}"></span>
            </p>

            <!-- Review's friendliness level -->
            <p class="card-text"> :
                <span
                    class="fa-solid fa-paw {% if review.friendliness > 0 %} selected {% endif %}"></span>
                <span
                    class="fa-solid fa-paw {% if review.friendliness > 1 %} selected {% endif %}"></span>
                <span
                    class="fa-solid fa-paw {% if review.friendliness > 2 %} selected {% endif %}"></span>
                <span class="fa-solid fa-paw {% if review.friendliness > 3 %} selected {% endif %}"></span>
                <span class="fa-solid fa-paw {% if review.friendliness > 4 %} selected {% endif %}"></span>
            </p>

            <!-- Review's health and grooming needs level -->
            <p class="card-text"> :
                <span
                    class="fa-solid fa-heart-pulse {% if review.health_and_grooming_needs > 0 %} selected {% endif %}"></span>
                <span
                    class="fa-solid fa-heart-pulse {% if review.health_and_grooming_needs > 1 %} selected {% endif %}"></span>
                <span
                    class="fa-solid fa-heart-pulse {% if review.health_and_grooming_needs > 2 %} selected {% endif %}"></span>
                <span
                    class="fa-solid fa-heart-pulse {% if review.health_and_grooming_needs > 3 %} selected {% endif %}"></span>
                <span
                    class="fa-solid fa-heart-pulse {% if review.health_and_grooming_needs > 4 %} selected {% endif %}"></span>
            </p>

                    <!-- Reviews breed rating-->
                    <p class="card-text m-2"> Rating:
                        <span class="fa fa-star {% if object.rating > 0 %} selected {% endif %}"></span>
                        <span class="fa fa-star {% if object.rating > 1 %} selected {% endif %}"></span>
                        <span class="fa fa-star {% if object.rating > 2 %} selected {% endif %}"></span>
                        <span class="fa fa-star {% if object.rating > 3 %} selected {% endif %}"></span>
                        <span class="fa fa-star {% if object.rating > 4 %} selected {% endif %}"></span></p>
                </div>

                <!-- Reviews text -->
                <div class="review-detail-box p-3 d-flex align-items-center justify-content-center overflow-auto ">
                    <p>{{ object.review|title }}</p>
                </div>

            </div>
        </div>

        <!-- Reviews author and pub date -->
        <div class="card-footer text-center text-muted">
            <small>Reviewed by: {{ object.username }} | Created at:
                {{ object.created_at }}
            </small>
        </div>

        <!-- Edit and delete options if user is logged in -->
        {% if user.is_authenticated %}
        {% if user.id == object.username.id %}
        <span>

            <!-- Edit button -->
            <h4 class="m-3 text-center">
                <a href="{% url 'edit_review' object.pk %}" class="text-decoration-none text-white"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit your review"><i
                        class="fas fa-edit px-2"></i>
                </a>

                <!-- Delete button -->
                <a href="{% url 'delete_review' object.pk %}" class="text-decoration-none text-white"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete your review">
                    <i class="fas fa-trash px-2 pb-2 "></i>
                </a></h4>
        </span>
        {% endif %}
        {% endif %}
    </div>

    <!-- Back button -->
    <div class="m-2 text-center">
        <a href="{% url 'review_list'%}">
            <button type="button" class="btn btn-submit btn-lg fw-bold shadow-none">Go back to reviews</button>
        </a>
    </div>
</section>

{% endblock %}